@model Product

@{
    IEnumerable<WishlistVM> wishlistVMs = (IEnumerable<WishlistVM>)ViewBag.Wishlist;

}


<div data-Id="@Model.Id" class="product-card--wishlist product-card--page-link wishlistBtn" style="background-color:@((wishlistVMs != null && wishlistVMs.Any(w =>w.Id == Model.Id)) ? "#41CDE2" : "#fff")">
    <i style="color:@((wishlistVMs != null && wishlistVMs.Any(w =>w.Id == Model.Id)) ? "#fff" : "#000")" class="fa-regular fa-heart wishlistIcon"></i>
    <span class="product-link--hover-text">
        <span>Wishlist</span>
        <i style="color:black !important" class="fa-solid fa-caret-down"></i>
    </span>
</div>

